html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-inline {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 10px;
}

    .form-inline label {
        margin-right: 5px;
        white-space: nowrap;
    }

    .form-inline .form-control {
        flex: 1;
        margin-right: 10px;
        max-width: 140px;
    }