<form id="uploadForm">
    <div class="mb-2" style="max-width:500px;">
        <label for="formFileMultiple" class="form-label">Select excel files to add to the archive:</label>
        <input class="form-control" type="file" id="formFileMultiple" name="files" multiple accept=".xlsx">
    </div>
    <button type="submit" class="btn btn-primary">Upload</button>
</form>
<h5>
    In order to parse weather data succesfully, rows in excel files must have cells with the following data:
</h5>
<ul class="list-group" style="max-width:500px;">
    <li class="list-group-item"><strong>Date  - necessary</strong></li>
    <li class ="list-group-item"><strong>Time - necessary</strong></li>
    <li class="list-group-item">Temperature (in °C)</li>
    <li class="list-group-item">Humidity (in %)</li>
    <li class="list-group-item">Dew point (in °C)</li>
    <li class="list-group-item">Atmospheric pressure (in mmHg)</li>
    <li class="list-group-item">Wind direction</li>
    <li class="list-group-item">Wind velocity (in m/s)</li>
    <li class="list-group-item">Cloudiness (in %)</li>
    <li class="list-group-item">Lower cloud limit (in m)</li>
    <li class="list-group-item">Horizontal visibility (in km)</li>
    <li class="list-group-item">Weather events</li>
</ul>
<br>
<a href="@Url.Action("ViewArchives", "Weather")" class="btn btn-info">View archives</a>
<script src="~/js/Add.js"></script>